<form action="/technician/Carpenter/{{userid}}/{{techid}}" id="job" method="POST">
    <label for="a">a</label>
    <input type="radio" name="field" value="a" id="a">
    <label for="b">b</label>
    <input type="radio" name="field" value="b" id="b">
    <label for="c">c</label>
    <input type="radio" name="field" value="c" id="c">
    <label for="d">d</label>
    <input type="radio" name="field" value="d" id="d">
    <input type="submit" value="Select" class="btn btn-primary">
</form>
