<h1>Payment Page</h1>
<h5>Enter Debitcard Number & PIN</h5>
<form action="/users/paymentupdate/{{userid}}/{{reqid}}" method="post">
<label for="debitCard">Debit Card</label>
<input type="number" name="debitCard" id="debitCard">
<label for="pin">PIN</label>
<input type="password" name="pin" id="pin">
<input type="submit" class="btn btn-dark" value="SUBMIT">
</form>