<div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card card-body">
              <img class="logo" src="/image/logo.png">
              <h3 class="text-center">Account Register</h3>
              <form action="/technician/registertechnician" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" value="" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" value="" required>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" name="address" class="form-control" value="" required>
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" name="city" class="form-control" value="" required>
                </div>
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="number" name="pincode" class="form-control" value="" required>
                </div>
              <div class="form-group">
                  <label for="contact">Contact</label>
                  <input type="number" name="contact" class="form-control" value="" required>
                </div>
                 <div class="form-group">
                  <label for="field">Field of work</label>
                  
                      <select name="field" required>
                    <option value="Electrician" name="e">Electrician</option>
                    <option value="Plumber">Plumber</option>
                    <option value="Carpenter">Carpenter</option>
                    <option value="Mechanic">Mechanic</option>
                  </select>
                  
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" value="" required>
                </div>
                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input type="password" name="password2" class="form-control" value="" required>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>
            </div>
          </div>
        </div>